.print-only {
    display: none;
}


/* Styling for the on-screen display of example webpages */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

header, nav, .main-content, footer {
  width: 80%;
  max-width: 1200px;
  padding: 1rem;
  margin: 1rem 0;
  border: 2px solid gray;
}

header {
  font-size: larger;
  font-weight: bold;
}

nav ol {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 0;
}

nav ol li {
  display: block;
}

.breadcrumbs { 
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.breadcrumbs ol, .breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: outside none none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Remove underlines from breadcrumb links */
.breadcrumbs ol li a, .breadcrumbs ul li a {
  /* border-bottom: none; */
  /* text-decoration: none; */
}

/* Adds custom dividers for breadcrumbs */
.breadcrumbs ol li:not(:last-child):after, .breadcrumbs ul li:not(:last-child):after {
  content: "|";
  padding: 0 0.5em 0 0.25em;
}
